# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Uploads content
uploads/componentes/*
uploads/comprobantes/*
uploads/users/*

# Keep folders structure but ignore content
!uploads/componentes/.gitkeep
!uploads/comprobantes/.gitkeep
!uploads/users/.gitkeep