# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Uploads content
/uploads/componentes/*
/uploads/comprobantes/*
/uploads/users/*

# Keep uploads folder and subfolders structure
!/uploads
!/uploads/componentes
!/uploads/comprobantes
!/uploads/users

# Keep .gitkeep files
!/uploads/componentes/.gitkeep
!/uploads/comprobantes/.gitkeep
!/uploads/users/.gitkeep